# production
NODE_ENV=development
PRODUCTION=false
API_PORT=3000
API_PREFIX='/api'

API_VERSION='1'
API_BASE_URL='http://localhost:3000'

# DB Settings
DB_DIALECT='postgres'
DB_CONNECTION='postgres'
DB_HOST='localhost'
DB_USERNAME='postgres'
DB_PASSWORD='visualcode'
DB_DATABASE='erkin_tasks'
DB_PORT=5432
DB_SYNCHRONIZE=false
DB_LOGGING=true
DB_TIMEZONE='Asia/Ashgabat'
DB_AUTOLOAD=true
DB_SCHEMA='public'

# Token
ACCESS_TOKEN_SECRET='m470k3nwedfwe'
REFRESH_TOKEN_SECRET='m470k3nfwef'
TOKEN_TYPE='Bearer'
ACCESS_TOKEN_EXPIRES_IN='24h'
REFRESH_TOKEN_EXPIRES_IN='30d'

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
